<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}hackaway{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- This file store project specific CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template, 
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>


    {% block content %}
    <div class="container">
      <div class="row">
        <h1>OmniLingo<br><small>Relaterade nyheter på ditt språk</small></h1>
        <p>
          <form>
            <select id="language" class="form-control">
              <option value="en">Välj språk</option>
            </select>
          </form>
        </p>
      </div>

      <div class="row article-title">
        <h3>Två döda och tusentals evakuerade i Chile</h3>
      
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="Valparaiso" href="javascript:void(0);">Valparaiso</a></li>
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="Chile" href="javascript:void(0);">Chile</a></li>
        </ul>

        <div id="articles"></div>
      </div>

      <div class="row article-title">
        <h3>Datorfel hotar viktig leverans till ISS</h3>
      
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-tag"></span> <a data="ISS" id="related" href="javascript:void(0);">ISS</a></li>
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="Nasa" href="javascript:void(0);">Nasa</a></li>
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="Rymden" href="javascript:void(0);">Rymden</a></li>
        </ul>

        <div id="articles"></div>
      </div>

      <div class="row article-title">
        <h3>Frankrikes minst populäre president på årtionden</h3>
      
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="Hollande" href="javascript:void(0);">Hollande</a></li>
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="President" href="javascript:void(0);">President</a></li>
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="Frankrike" href="javascript:void(0);">Frankrike</a></li>
        </ul>

        <div id="articles"></div>
      </div>

      <div class="row article-title">
        <h3>Ukraina ställer in betalningar – risk för gaskrig ökar</h3>
      
        <ul class="list-inline">
          <li><span class="glyphicon glyphicon-tag"></span> <a data="ukraina" id="related" href="javascript:void(0);">Ukraina</a></li>
          <li><span class="glyphicon glyphicon-tag"></span> <a id="related" data="ryssland" href="javascript:void(0);">Ryssland</a></li>
        </ul>

        <div id="articles"></div>
      </div>

      <hr>

      <div class="row">
        <p class="text-center footy"><small>Made with <span class="glyphicon glyphicon-heart"></span> at <a href="http://www.hackaway.se">Hackaway 2014</a><br>Ana, Marcus, and Pernilla</small></p>
      </div>
    </div>
    {% endblock content %}

    <!-- place project specific Javascript in this file -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/project.js"></script>
    {% block extra_js %}{% endblock extra_js %}

    <script>
    $('[id^=related]').on('click', function() {
      var lang = $("#language option:selected").val();
      var topic = $(this).attr('data');
      var placeholder = $(this).parent().parent().next();

      $.ajax({
        url: '/internal/translate/' + lang + '/' + topic,
        dataType: 'json',
        success: function(translated_tag) {
          var tag = translated_tag.translation[0];
          console.log('Query: ' + lang + ' - ' + tag);
          searchRelated(tag);
        }
      });

      var searchRelated = function(tag) {
        $.ajax({
          url: '/internal/search/' + tag,
          dataType: 'json',
          success: function(data) {
            var translated = data.items;
            
            translated.sort(function(a, b) {
              if (a.engagement == undefined)
                return 1;
              if (a.engagement < b.engagement)
                return 1;
              if (a.engagement > b.engagement)
                return -1;
              return 0;
            });

            translated.forEach(function(element) {
              placeholder.append(
                '<div class="translated">' +
                '<h4><a href="' + element.alternate.href + '">' + element.title + '</a></h4>' +
                '<p>' + element.summary.content + '</p>' +
                '</div>');
            });
          }
        });
      }
    });

    $(document).ready(function() {
      $.ajax({
        url: '/internal/languages',
        dataType: 'json',
        success: function(data) {
          Object.keys(data.langs).forEach(function(element) {
            $('#language').append('<option value="' + element + '">' + data.langs[element] + '</option>');
          });
          
        }
      })
      // data.langs = { key: val }
    });

    </script>

  </body>
</html>
